body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-form {
    display: none;
}

.active-form {
    display: block;
}

.todo-item {
    padding: 10px;
    border: 2px solid darkblue;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    border-radius: 10px;
}

.todo-item.done p {
    text-decoration: line-through;
    color: #888;
}

.actions button {
    margin-left: 5px;
}

button {
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

#add-todo {
    margin: 5px;
}

.delete-btn {
    color: red;
}

#post-todo {
    background-color: rgb(78, 78, 248);
    color: white;
}